.containerLogin {

    font-size: 30px;
    background-color: #FFF;
    color: #E74646;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input:-ms-input-placeholder  {
    font-size:16px;
  }

input[type=text] {
    margin-top: 10px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    height: 30px;
    font-size: 20px;
    justify-content: center;
  }


  input[type=password] {
    margin-top: 10px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    height: 30px;
    font-size: 20px;
    justify-content: center;
  }

  button {
    margin-top: 10px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 4px;
    padding: 5px;
    font-size:20px;
    width: 100px;
   
  }

  button:hover {
    border: 2px solid rgb(10, 10, 10);
    border-radius: 4px;
    padding: 5px;
    background-color: #E74646 ;
    color: #FFF;
  }

  .dadosInvalidos {
    background-color: #E74646;
    color: #FFF;
    margin: 10px;
    display: none;
    font-size: 18px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    
  }